@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

#developed {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(256, 256, 256, 0.25);
}

#eder {
  position: absolute;
  top: 30px;
  right: 10px;
  color: rgba(256, 256, 256, 0.35);
  font-weight: bold;
}

div {
  height: 25vh;
}

#kgcm {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  font-family: Roboto, sans-serif;
}

#psi {
  border-bottom: 4px solid white;
}

input[type='number'] {
  width: 100%;
  height: 100%;
  outline: none;
  font-family: Asap, sans-serif;
  background-color: black;
  color: white;
  font-size: 10em;
  text-align: center;
  border: 0;
}

::placeholder {
  color: #222;
}

@media (min-width: 481px) and (max-width: 767px) {
  input[type='number'] {
    font-size: 7.5em;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  input[type='number'] {
    font-size: 5em;
  }
}
